In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('caso_full.csv',sep=',')
data.head()

,city,city_ibge_code,date,epidemiological_week,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,last_available_death_rate,last_available_deaths,order_for_place,place_type,state,new_confirmed,new_deaths
0,São Paulo,3550308.0,2020-02-25,9,12252023.0,False,False,1,0.00816,2020-02-25,0.0,0,1,city,SP,1,0
1,NaN,35.0,2020-02-25,9,45919049.0,False,False,1,0.00218,2020-02-25,0.0,0,1,state,SP,1,0
2,São Paulo,3550308.0,2020-02-26,9,12252023.0,False,False,1,0.00816,2020-02-26,0.0,0,2,city,SP,0,0
3,NaN,35.0,2020-02-26,9,45919049.0,False,False,1,0.00218,2020-02-26,0.0,0,2,state,SP,0,0
4,São Paulo,3550308.0,2020-02-27,9,12252023.0,False,False,1,0.00816,2020-02-27,0.0,0,3,city,SP,0,0

In [3]:
# Total de registros na database completa
total_de_registros = len(data)
# O dataset deve ter registros das semanas epidemiológicas 9 à 31
# Esse é o primeiro registro com semana epidemiológica maior ou igual à 32
data.iloc[465911]

city                                              Acrelândia
city_ibge_code                                   1.20001e+06
date                                              2020-08-02
epidemiological_week                                      32
estimated_population_2019                              15256
is_last                                                False
is_repeated                                            False
last_available_confirmed                                 277
last_available_confirmed_per_100k_inhabitants        1815.68
last_available_date                               2020-08-02
last_available_death_rate                             0.0253
last_available_deaths                                      7
order_for_place                                          127
place_type                                              city
state                                                     AC
new_confirmed                                              0
new_deaths                                                 1
Name: 465911, dtype: object

In [4]:
# Fazer um slice do dataframe é muito mais rápido que percorrer todo o dataframe selecionando registros em que
# epidemiological_week é um valor x : 9<=x<=31
relevant_data = pd.DataFrame(columns=data.columns)
relevant_data = data.iloc[:465911]
relevant_data

,city,city_ibge_code,date,epidemiological_week,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,last_available_death_rate,last_available_deaths,order_for_place,place_type,state,new_confirmed,new_deaths
0,São Paulo,3550308.0,2020-02-25,9,12252023.0,False,False,1,0.00816,2020-02-25,0.0000,0,1,city,SP,1,0
1,NaN,35.0,2020-02-25,9,45919049.0,False,False,1,0.00218,2020-02-25,0.0000,0,1,state,SP,1,0
2,São Paulo,3550308.0,2020-02-26,9,12252023.0,False,False,1,0.00816,2020-02-26,0.0000,0,2,city,SP,0,0
3,NaN,35.0,2020-02-26,9,45919049.0,False,False,1,0.00218,2020-02-26,0.0000,0,2,state,SP,0,0
4,São Paulo,3550308.0,2020-02-27,9,12252023.0,False,False,1,0.00816,2020-02-27,0.0000,0,3,city,SP,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465906,NaN,43.0,2020-08-01,31,11377239.0,False,False,70456,619.27151,2020-08-01,0.0276,1947,145,state,RS,3764,71
465907,NaN,42.0,2020-08-01,31,7164788.0,False,False,86922,1213.18314,2020-08-01,0.0133,1154,143,state,SC,2849,52
465908,NaN,28.0,2020-08-01,31,2298696.0,False,False,59724,2598.16870,2020-08-01,0.0242,1448,141,state,SE,1011,14
465909,NaN,35.0,2020-08-01,31,45919049.0,False,False,552318,1202.80801,2020-08-01,0.0421,23236,159,state,SP,10014,239
465910,NaN,17.0,2020-08-01,31,1572866.0,False,False,26434,1680.62632,2020-08-01,0.0149,395,137,state,TO,1088,5

In [5]:
# Removendo colunas:
relevant_data = relevant_data[['city','city_ibge_code','date','epidemiological_week','is_repeated','place_type','state','new_confirmed']].copy()
print(len(relevant_data))
relevant_data.head()

465911

,city,city_ibge_code,date,epidemiological_week,is_repeated,place_type,state,new_confirmed
0,São Paulo,3550308.0,2020-02-25,9,False,city,SP,1
1,NaN,35.0,2020-02-25,9,False,state,SP,1
2,São Paulo,3550308.0,2020-02-26,9,False,city,SP,0
3,NaN,35.0,2020-02-26,9,False,state,SP,0
4,São Paulo,3550308.0,2020-02-27,9,False,city,SP,0

In [6]:
# Selecionando apenas registros não repetidos referentes a cidades :
selected_data_cities = relevant_data[(relevant_data['place_type']=='city') & (relevant_data['is_repeated']==False)]
selected_data_cities = selected_data_cities.reset_index(drop=True)
# Removendo colunas irrelevantes :
selected_data_cities = selected_data_cities[['city','city_ibge_code','date','epidemiological_week','state','new_confirmed']].copy()
# --------------------------------
selected_data_cities.to_csv('Novos_Casos_Por_Cidade.csv',index=False)
print('Número de registros de cidades : ',len(selected_data_cities))
selected_data_cities.head()

Número de registros de cidades :  453974

,city,city_ibge_code,date,epidemiological_week,state,new_confirmed
0,São Paulo,3550308.0,2020-02-25,9,SP,1
1,São Paulo,3550308.0,2020-02-26,9,SP,0
2,São Paulo,3550308.0,2020-02-27,9,SP,0
3,São Paulo,3550308.0,2020-02-28,9,SP,1
4,São Paulo,3550308.0,2020-02-29,9,SP,0

In [7]:
# Selecionando apenas registros não repetidos referentes a estados :
selected_data_states = relevant_data[(relevant_data['place_type']=='state') & (relevant_data['is_repeated']==False)]
selected_data_states = selected_data_states.reset_index(drop=True)
# Removendo colunas irrelevantes :
selected_data_states = selected_data_states[['city_ibge_code','date','epidemiological_week','state','new_confirmed']].copy()
# --------------------------------
selected_data_states.to_csv('Novos_Casos_Por_Estado.csv',index=False)
print('Número de registros referentes a estados : ',len(selected_data_states))
selected_data_states.head()

Número de registros referentes a estados :  3765

   city_ibge_code        date  epidemiological_week state  new_confirmed
0            35.0  2020-02-25                     9    SP              1
1            35.0  2020-02-26                     9    SP              0
2            35.0  2020-02-27                     9    SP              0
3            35.0  2020-02-28                     9    SP              1
4            35.0  2020-02-29                     9    SP              0